@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


body {
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    top: 0;
    padding: 0;
    margin: 0;
}

#container {
  height: 5vh;
  display:none;
}

.etilotest-container {
  position: absolute;
  bottom: -92vh;
  right: 15vh;
}

.etilotest {
  width: 18vh;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.number-container{
    position: absolute;
    display: flex;
    right: 5vh;
    top: 35vh;
    text-align: center;
}

.number{
    color: rgb(71, 71, 71);
    font-family: 'Electrolize', sans-serif;
    font-weight: 600;
    font-size: 2.3vh;
}

#use{
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    height: 37px;
    width: 37px;
    border-radius: 50%;
    display: inline-block;
    top: 43.4vh;
    right: 7.15vh;
}

#use:hover{
    background-color: rgba(156, 160, 156, 0.342);
}

#close{
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    height: 37px;
    width: 37px;
    border-radius: 50%;
    display: inline-block;
    top: 47.9vh;
    right: 7.15vh;
}

#close:hover{
    background-color: rgba(156, 160, 156, 0.342);
}

.loader {
    position: absolute;
    right: 1.5vh;
    top: -1vh;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #464646; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }